* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

div {
    display: flex;
    align-items: center;
    justify-content: center }

#scratch{ 
    width: 500px;
    height: 500px;
}

